/* NavBar */

nav {
    height: 75px;
}

.containerLogo img{
    width: 50px;
    padding-right: .5rem;
}

.desktopNav {
    display: none;
}

/* Media Queries for Portrait tablet and Landscape tablet */

@media screen and (min-width: 577px) and (pointer: coarse) {
    .containerLogo img {
        width: 60px;
    }
}

/* Media Queries for Desktop view */

@media screen and (min-width: 1200px) and (pointer: fine) {
    .containerLogo img {
        width: 50px;
    }
}

/* Burger Menu */

.containerBurger {
    height: 3px;
    width: 30px;
    border-radius: 10px;
    background: var(--black100);
    display: inline-block;
    position: relative;
}

.containerBurger::before, .containerBurger::after {
    content: '';
    height: 3px;
    width: 30px;
    position: absolute;
    border-radius: 10px;
    background: var(--black100);
    display: inline-block;
    transform-origin: center;
    transition: all 0.5s ease;
}

.containerBurger::before {
    top: -8px;
}

.containerBurger::after {
    top: 8px;
}

.containerBurger.open::before {
    transform: rotate(45deg);
    top: 0;
}

.containerBurger.open {
    background: transparent;
}

.containerBurger.open::after {
    transform: rotate(-45deg);
    top:0;
}

ul.open {
    transform: scaleY(1);
    -webkit-box-shadow: 0px 30px 25px 5px rgba(0,0,0,0.15); 
    box-shadow: 0px 30px 25px 5px rgba(0,0,0,0.15);
}

ul {
    background: var(--black0);
    position: absolute;
    left: 0;
    top: 75px;
    width: 100%;
    z-index: 5;
    transform: scaleY(0);
    transform-origin: center top;
    transition: all 0.3s ease;
}

.containerConnection li .createAccount, .containerConnection li .connectionAccount {
    width: 140px;
    padding: .5rem;
    text-align: center;
    background: linear-gradient(to right, var(--primary100), var(--primary80));
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--black0);
}

.containerConnection li .connectionAccount {
    background: linear-gradient(to left, var(--primary100), var(--primary80));
    margin-left: .5rem;
}

/* Media Queries for Portrait tablet and Landscape Tablet */

@media screen and (min-width: 577px) and (pointer: coarse) {
    .containerBurger {
        width: 40px;
    }
    .containerBurger::before, .containerBurger::after {
        width: 40px;
    }
    .containerBurger::before {
        top: -10px;
    }
    .containerBurger::after {
        top: 10px;
    }
    .containerConnection li:last-child, .containerConnection li:first-child {
        width: 150px;
    }
}

/* Media Queries for Desktop view */

@media screen and (min-width: 1200px) and (pointer: fine) {
    .mobileNav {
        display: none;
    }
    .desktopNav {
        display: flex;
        width: 400px;
    }
    .desktopNav a:nth-child(3), .desktopNav a:last-child {
        width: 110px;
        padding: .25rem;
        border: 0px;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        background: linear-gradient(to right, var(--primary100), var(--primary80));
        border-radius: 5px;
        color: var(--black0);
    }
    .desktopNav a:last-child {
        background: linear-gradient(to left, var(--primary100), var(--primary80));
    }
}

/* HeroBanner */

.heroBanner {
    width: 100%;
    height: calc(100vh - 150px);
    background: url('../assets/img/background/mobile/backgroundMobile.svg') no-repeat;
    background-size: contain;
    background-position: center;
    overflow: hidden;
}

.containerTitle {
    height: 150px;
}

.containerImg {
    height: calc(100vh - 300px);
    width: 100%;
}

.mockupMobile {
    height: 90%;
    animation: levitationMockUpHeader 4s ease infinite;
}

.mockupTabletLandscape {
    display: none;
}

.mockupTabletPortrait {
    display: none;
}

.mockupDesktop {
    display: none;
}

/* Media Queries for Portrait tablet */

@media screen and (min-width: 577px) and (max-width: 1199px) and (pointer: coarse) {
    .heroBanner {
        background: url('../assets/img/background/desktop/backgroundDesktop.png') no-repeat;
        background-size: contain;
        background-position: center;
    }
    .containerTitle {
        height: 100px;
    }
    
    .containerImg {
        height: calc(100vh - 250px);
        width: 100%;
    }
    .mockupMobile {
        display: none;
    }
    .mockupTabletPortrait {
        display: block;
        max-height: 90%;
        animation: levitationMockUpHeader 4s ease infinite;
    }
}

/* Media Queries for Landscape tablet */

@media screen and (min-width: 1200px) and (pointer: coarse) {
    .heroBanner{
        background: url('../assets/img/background/desktop/backgroundDesktop.png') no-repeat;
        background-size: cover;
        background-position: center;
    }
    .containerTitle {
        height: 100px;
    }
    .containerImg {
        height: calc(100vh - 250px);
    }
    .mockupMobile {
        display: none;
    }
    .mockupTabletLandscape {
        display: block;
        max-height: 90%;
        animation: levitationMockUpHeader 4s ease infinite;
    }
}

/* Media Queries for Desktop view */

@media screen and (min-width: 577px) and (pointer: fine) {
    .heroBanner {
        background: url('../assets/img/background/desktop/backgroundDesktop.png') no-repeat;
        background-size: cover;
        background-position: center;
    }
    .containerTitle {
        height: 100px;
    }
    .containerImg {
        height: calc(100vh - 250px);
    }
    .mockupMobile {
        display: none;
    }
    .mockupDesktop {
        display: block;
        max-width: 90%;
        max-height: 90%;
        animation: levitationMockUpHeader 4s ease infinite;
    }
}

/* FooterBanner */

.footerBanner {
    height: 75px;
}
