*, ::before, ::after {
	margin : 0;
	padding : 0;
	box-sizing : border-box;
}

:root {
	--primary-color : #000;
	--secondary-color : #fff;
	--primary-font-size : 1rem;
	--secondary-font-size : 0.8rem;
	--bold-weight : 400;
	--medium-weight : 300;
}

.userProfil {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	margin-left: 0;
}

.profilForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
	width: 300px;
}

.profilForm fieldset {
	width: 80%;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profilForm input {
	margin: 1rem 0;
}

.profilForm label {
	width: 100%;
	display: flex;
	align-items: center;
}

.profilForm label a {
	font-size: .8rem;
	color: var(--primary-color);
}

.profilForm label a:hover {
	color: var(--tertiary-color);
}

.profilForm input[type='checkbox']{
	display: flex;
	width: 20%;
	accent-color: var(--tertiary-color);
}

@media (min-width: 900px) {
	.userProfil {
		margin-left: 220px;
		width: calc(100vw - 220px);
	}
}